$basic-font-grey: #636363;
$success-green: #4caf50;
$action-blue: #42a0e2;
$background-grey: #f3f3f3;
$site-theme-green: #3D9970;

@mixin box-shadow {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 
                  0 1px 1px 0 rgba(0,0,0,.14), 
                  0 2px 1px -1px rgba(0,0,0,.12);
}

@mixin section {
  @include box-shadow;
  
  background-color: white;
  padding: 25px;
  
  @media (min-width: 768px) {
    padding: 25px 10px;
  }
}

@mixin standard-button($background-color, $hover-color) {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  display: inline-block;
  background-color: $background-color;
  margin: 5px auto;
  border-radius: 5px;
  color: #fff;
  padding: .8em;
  margin: 0 5px;
  text-decoration: none;
  cursor: pointer;
  
  &:hover {
    background-color: $hover-color;
  }
}

@mixin gradient-button {
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  
  background-color: #f7f7f7;
  background: -webkit-linear-gradient(#fff, #e4e4e4);
  background: linear-gradient(#fff, #e4e4e4);
  
  &:hover {
    background-color: white;
    background: none;
  }
}

@mixin restaurant-image-container($dimension, $non-mobile-dimension) {
  flex-shrink: 0;
  height: $dimension;
  width: $dimension;
  background-color: #e0e0e0;
  margin: 2px 10px;

  display: flex;
  justify-content: center;
  align-items: center;   
  
  @media (min-width: 415px) {
    height: $non-mobile-dimension;
    width: $non-mobile-dimension;
  }
  
  .fas {
    color: white;
    font-size: 35px;
  }
  
  img {
    max-width: 100%;
  }
}

html {
  min-height: 100vh;
}

body, #lunchabler-container, #app-content, #main-content {
  min-height: inherit;
}

html, body {
  font-family: 'Heebo', serif;
}

#main-content {
  display: flex;
  max-width: 1200px;
  margin: auto;
  background-color: $background-grey;
}

h1 {
  font-size: 30px;
  margin: 0;
  
  @media (max-width: 414px) {
    margin: 10px 0;  
  }
}

h3 {
  font-size: 18px;
  margin: 0;
}

.page-content {
  padding: 5px 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
  
  &:hover, &:focus {
    text-decoration: none;
  }
}

p {
  color: $basic-font-grey;
}

.hide {
  display: none;
}

.user-preference-options {
  display: flex;
  padding: 5px;
  
  &:first-of-type {
    padding-top: 0;
  }
  
  &:last-of-type {
    padding-bottom: 0;
  }
  
  .preference-label {
    width: 150px;
  }
  
  .preference-options {
    display: inline-block;
    margin-left: 5px;
    
    .far {
      font-size: 23px;
      opacity: 0.37;
      padding: 0 2px;
      cursor: pointer;
      
      &.current-preference {
        opacity: 1.0;
      }
    }  
  }
}