html {
  height: 100vh;
}

body, #lunchabler-container, #app, #app-content, #side-nav-bar {
  height: inherit;
}

html, body {
  font-family: 'Heebo', serif;
  background-color: #f3f3f3;
}

#app-content {
  display: flex;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 18px;
}

.page-content {
  padding: 5px 10px;
}

$success-green: #4caf50;
$action-blue: #42a0e2;