$basic-font-grey: #a0a0a0;
$success-green: #4caf50;
$action-blue: #42a0e2;
$background-grey: #f3f3f3;
$site-theme-green: #3D9970;

@mixin box-shadow {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 
                  0 1px 1px 0 rgba(0,0,0,.14), 
                  0 2px 1px -1px rgba(0,0,0,.12);
}

html {
  min-height: 100vh;
}

body, #lunchabler-container, #app-content, #main-content {
  min-height: inherit;
}

html, body {
  font-family: 'Heebo', serif;
  background-color: $background-grey;
}

#main-content {
  display: flex;
}

h1 {
  font-size: 30px;
  margin: 0;
}

h3 {
  font-size: 18px;
}

.page-content {
  padding: 5px 10px;
}

a {
  text-decoration: none;
  
  &:hover, &:focus {
    text-decoration: none;
  }
}

p {
  color: $basic-font-grey;
}

@mixin standard-button($background-color, $hover-color) {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  display: inline-block;
  background-color: $background-color;
  margin: 5px auto;
  border-radius: 5px;
  color: #fff;
  padding: .8em;
  margin: 0 5px;
  text-decoration: none;
  cursor: pointer;
  
  &:hover {
    background-color: $hover-color;
  }
}