#home-page {
  #header-row {
    display: flex;
    align-items: center;
    margin: 5px 0 10px;
    
    @media (min-width: 415px) {
      margin: 0 0 15px;
    }
    
    #home-page-icon {
      background: linear-gradient(45deg, #03a9f4, #80d7ff);
      padding: 5px 7px;
      margin-right: 15px;
      
      .fas.fa-home {
        color: white;
        font-size: 16px;
        position: relative;
        top: 1px;
      }
    }
    
    #group-name {
      font-size: 25px;
      
      @media (min-width: 415px) {
        font-size: 30px;
      }
    }
  }
  
  #activity-panels {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 120px;
    
    @media (min-width: 560px) {
      flex-direction: row
    }
    
    #notification-panel {
      background: linear-gradient(45deg, #ae81ff, $secondary-purple);
    }
    
    #last-visit-panel {
      background: linear-gradient(45deg, $secondary-blue, #80d7ff);
      
      #last-visit-panel-content {
        
      }
    }
    
    #recent-activity-panel {
      background: linear-gradient(45deg, #ae81ff, $secondary-purple);
    }
    
    .activity-panel {
      color: white;
      font-size: 14px;
      font-weight: bold;
      padding: 15px 10px;
      
      @media (min-width: 560px) {
        width: 30%;
      }
      
      h4 {
        font-size: 12px;
        margin: 0 0 15px;
      }
    }
  }
  
  #recent-visits {
    margin: 20px 0;
    
    .visit-row {
      display: flex;
      justify-content: center;
      
      * {
        flex-grow: 1;
      }
      
      .visit-restaurant {
        margin-right: 5px;  
      }
      
      .visit-date {
        color: $site-theme-green;
      }
    }
  }
}