#manage-users-page {
  #user-list {
    margin-top: 10px;
    
    #user-list-accordion {
      .user-list-item {
        .user-list-item-header {
          border-left: 5px solid $secondary-purple;
          
          a {
            display: block;
            position: relative;
            margin: -10px -15px;
            padding: 10px 15px;
            font-weight: bold;
            font-size: 14px;  
            background: white;
            
            @media (min-width: 415px) {
              font-size: 12px;
            }
            
            .fas {
              position: absolute;
              right: 15px;
              top: 12px;
            }
          }
        }
        
        .links-row {
          .user-list-item-link {
            padding-right: 35px;
            font-size: 12px;
          }
        }
        
        .user-list-item-body {
          margin-top: 10px;
          
          .user-preferences {
            .preferences-tabs {
              display: flex;
              padding: 10px 0 15px;
              
              .tab {
                border: 2px solid $site-theme-green;
                background: white;
                margin: 0 1px;
                padding: 5px 10px;
                cursor: pointer;
                font-weight: bold;
                border-radius: 5px;
                
                &.active {
                  background: $site-theme-green;
                  color: white;
                }
              }
            }
            
            .user-preference-options {
              .preference-label {
                
              }
              
              .preference-options {
                
              }
            }
          }
        }
      }
    }
  }
  
  #add-users {
    padding: 25px 15px;
    
    @media (min-width: 415px) {
      padding: 25px 40px;
    }
    
    #add-user-field-container {
      display: flex;
      
      #add-user-field {
        flex-grow: 1;
        padding: 5px;
      }
      
      #add-user-button {
        background: $site-theme-green;
        border-radius: 0 4px 4px 0;
        border: 0;
        padding: 4px 20px;
        color: white;
        font-size: 13px;
      }
    }
    
    .error-message, .success-message {
      margin: 10px 0 0;
      font-size: 13px;
    }
    
    .error-message {
      color: red;
    }
    
    .success-message {
      color: #4caf50;
    }
  }
}
