#manage-restaurants-page {
  .restaurant-list-item {
    position: relative;
    border-left: 5px solid $secondary-blue;
    margin-top: 5px;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 14px;  
    background: white;
    color: #463f3f;
    
    @media (min-width: 415px) {
      font-size: 12px;
    }
    
    .fas {
      position: absolute;
      right: 15px;
      top: 12px;
    }
  }
  
  #add-restaurants {
    text-align: center;
    
    #yelp-icon {
      width: 115px;
    }
    
    #search-bar-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      
      #yelp-search-bar {
        width: 75%;
        padding: 5px;
      }
      
      #search-button {
        background: $site-theme-green;
        border-radius: 0 4px 4px 0;
        border: 0;
        padding: 4px 20px;
        color: white;
        font-size: 13px;
      }
    }
    
    .error {
      margin: 10px 0;
    }
    
    #yelp-search-results-section {
      margin-top: 20px;
      
      #yelp-search-results {
        .yelp-search-result-item {
          display: flex;
          padding: 10px 0;
          
          @media (min-width: 415px) {
            padding: 10px;
          }
          
          .details {
            flex-grow: 1;
            text-align: left;
            padding-left: 5px;
            
            h4, p {
              margin: 0;
            }
            
            h4 {
              margin-bottom: 3px;
              font-size: 13px;
              
              @media (min-width: 415px) {
                font-size: 14px;
              }
            }
            
            p {
              font-size: 12px;
              
              @media (min-width: 415px) {
                font-size: 13px;
              }
            }
          }
          
          .actions {
            min-width: 65px;
            padding-left: 5px;
            
            .action-link {
              display: block;
              color: $site-theme-green;
              font-size: 11px;
              margin-bottom: 10px;
              
              @media (min-width: 415px) {
                font-size: 13px;
              }
              
              &:visited, &:hover, &:active {
                color: $site-theme-green;
              }
              
              &.already-imported {
                color: grey;
              }
            }
          }
        }
      }
    }
  }
}
