$min-height-for-tab-content: 360px;

#restaurant-info-page {
  flex-grow: 1;
  
  #tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
    .tab {
      @include box-shadow;
      
      flex-grow: 1;
      text-align: center;
      background: white;
      cursor: pointer;
      padding: 5px;
      margin: 5px;
      
      &:first-of-type {
        margin-left: 0;
      }
      
      &:last-of-type {
        margin-right: 0;
      }
      
      &.active {
        background: #dadada;
        color: white;
      }
      
      &:hover:not(.open) {
        background: #efefef;
      }
      
      .fas, .far {
        font-size: 23px;
        
        @media (min-width: 768px) {
          font-size: 28px;
        }
      }
    }
  }
  
  .tab-container {
    #loading-placeholder {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: $min-height-for-tab-content;
      
      img {
        height: 47px;
        width: 47px;
      }
    }
  }
  
  .restaurant-info-section {
    margin-top: 25px;
    
    .section-label {
      background: $secondary-purple;
      color: white;
      padding: 3px 15px 1px;
      font-size: 13px;
      border-radius: 3px 3px 0 0;
      
      @media (min-width: 768px) {
        font-size: 14px;
      }
    }
    
    .section-content {
      @include section;
    }
  }
  
  #general-info {
    @include section;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: $min-height-for-tab-content;
    
    h1 {
      margin: 20px 0;
    }
    
    #restaurant-image-container {
      @include restaurant-image-container(100px, 120px);
    }
    
    #general-info-content-container {
      align-self: left;
    }
  }
  
  #comments-tab {
    
  }
}