#restaurant-info-page {
  flex-grow: 1;
  
  #tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
    .tab {
      @include box-shadow;
      
      flex-grow: 1;
      text-align: center;
      background: white;
      cursor: pointer;
      padding: 5px;
      margin: 5px;
      
      &:first-of-type {
        margin-left: 0;
      }
      
      &:last-of-type {
        margin-right: 0;
      }
      
      &.open {
        background: #dadada;
        color: white;
      }
      
      &:hover:not(.open) {
        background: #efefef;
      }
      
      .fas, .far {
        font-size: 23px;
        
        @media (min-width: 768px) {
          font-size: 28px;
        }
      }
    }
  }
  
  .section-label {
    background: $site-theme-green;
    color: white;
    padding: 3px 15px 1px;
    font-size: 13px;
    border-radius: 3px 3px 0 0;
    
    @media (min-width: 768px) {
      font-size: 14px;
    }
  }
  
  #general-info {
    @include section;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
      margin: 20px 0;
    }
    
    #restaurant-image-container {
      @include restaurant-image-container(100px, 120px);
    }
    
    #general-info-content-container {
      align-self: left;
    }
  }
  
  #user-preferences-container {
    margin-top: 25px;
    
    #user-preferences {
      @include section;
      
      .user-preference-options {
        display: flex;
        padding: 5px;
        
        &:first-of-type {
          padding-top: 0;
        }
        
        &:last-of-type {
          padding-bottom: 0;
        }
        
        .user-name {
          width: 150px;
        }
          
        .preference-options {
          display: inline-block;
          margin-left: 5px;
          
          .far {
            font-size: 23px;
            opacity: 0.37;
            padding: 0 2px;
            
            &.current-preference {
              opacity: 1.0;
            }
          }  
        }
      }  
    }  
  }
}