#restaurant-info-page {
  .user-preference-options {
    .user-name {
      width: 150px;
    }
      
    .preference-options {
      display: inline-block;
      margin-left: 5px;
      
      .far {
        font-size: 16px;
        opacity: 0.37;
        padding: 0 2px;
        
        &.current-preference {
          opacity: 1.0;
        }
      }  
    }
  }
}