#results-page {
  width: 100%;
  
  #results-page-content {
    &.page-loading {
      display: none;
    }
    
    .restaurant-result-container {
      @include box-shadow;
      
      display: flex;
      margin: 10px 0;
      background: white;
      max-width: 450px;
      
      .restaurant-rank {
        display: flex;
        color: white;
        font-weight: bold;
        justify-content: center;
        margin-right: 5px;
        width: 15px;
        background-color: #3d99707a;
        
        &.gold {
          background-color: #ffd75e;
        }
        
        &.silver {
          background-color: #b1aeae;
        }
        
        &.bronze {
          background-color: #c18b51;
        }
        
        &.top-result {
          font-size: 21px;
        }
      }
      
      .restaurant-result {
        display: flex;
        padding: 10px 0;
        width: 100%;
        
        .restaurant-info {
          display: flex;
          flex-grow: 1;
          cursor: pointer;
          
          .image-container {
            @include restaurant-image-container(70px, 80px);
          }
          
          .restaurant-details-container {
            padding: 0 3px;
            
            h4, p {
              margin: 0;
              font-size: 15px;
              
              @media (min-width: 415px) {
                font-size: 16px;
              }
            }
            
            p {
              font-size: 13px;
              
              @media (min-width: 415px) {
                font-size: 14px;
              }
            }
          }
        }
        
        .actions-container {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding: 0 5px;
          
          .select-restaurant {
            text-align: center;
            border: 1px solid grey;
            border-radius: 5px;
            padding: 2px 5px;
            cursor: pointer;
            
            background-color: #f7f7f7;
            background: -webkit-linear-gradient(#fff, #e4e4e4);
            background: linear-gradient(#fff, #e4e4e4);
            
            &:hover {
              background-color: white;
              background: none;
            }
            
            .fas {
              font-size: 15px;
              line-height: 15px;
              padding: 2px 0;
              position: relative;
              top: 1px;
            }
          }
        }
      }
    }
    
    #edit-lunch-group-button {
      @include standard-button($action-blue, #1181b7)
      
      margin: 15px 0;
    }
  }
  
  #results-loading-screen {
    display: none;
    
    &.page-loading {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;  
      background-color: white;
    }
  }
}