#side-nav-bar {
  @media (max-width: 767px) {
    display: none;
  }
  
  width: 170px;
  background-color: white;
  flex-shrink: 0;
  
  ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    
    li {
      padding: 8px 5px;
      font-weight: bold;
      font-size: 11px;
      color: black;
      
      &:hover {
        color: #8e8e8e;
      }
    }
  }
}