#side-nav-bar {
  @media (max-width: 767px) {
    display: none;
  }
  
  width: 210px;
  background-color: white;
  flex-shrink: 0;
  
  ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    
    li {
      padding: 8px 5px;
      font-weight: bold;
      font-size: 12px;
    }
  }
}