#site-header {
  background-color: $site-theme-green;
  border-bottom: 3px solid $background-color;
  height: 55px;
  display: flex;
  align-items: center;
  
  @media (min-width: 768px) {
    height: 30px;
  }
  
  .header-link {
    color: white;
    padding-right: 10px;
    
    &.user-name {
      font-weight: bold;
    }
  }
  
  .header-content-left {
    flex-grow: 1;
    
    #site-name {
      color: white;
      font-size: 22px;
      padding: 0 10px;
      
      @media (min-width: 768px) {
        font-size: 16px;
      }
    }
  }
  
  .header-content-right {
    .desktop-header-links {
      @media (max-width: 767px) {
        display: none;
      }
    }
    
    .btn-toolbar {
      padding: 0 10px;  
      
      @media (min-width: 768px) {
        display: none;
      }
      
      #mobile-nav-menu-icon {
        padding: 5px 10px;
        font-size: 13px;
        
        &:focus {
          background-color: white;
        }
      }
      
      .dropdown-menu {
        list-style: none;
        margin: 0;
        padding: 10px;
        
        #profile-menu-item {
          li {
            display: flex;
            
            .fa-user {
              padding-right: 10px;
            }
          }
        }
        
        hr {
          margin-top: 5px;
          margin-bottom: 5px;
        }
        
        li {
          padding: 4px 0;
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}