#site-header {
  background-color: $site-theme-green;
  border-bottom: 3px solid $background-color;
  height: 55px;
  display: flex;
  align-items: center;
  
  .header-content-left {
    flex-grow: 1;
    
    #site-name {
      color: white;
      font-size: 22px;
      padding: 0 10px;
    }
  }
  
  .header-content-right {
    padding: 0 10px;
    
    @media (min-width: 768px) {
      display: none;
    }
    
    #mobile-nav-menu-icon {
      padding: 5px 10px;
      font-size: 13px;
      
      &:focus {
        background-color: white;
      }
    }
    
    .dropdown-menu {
      list-style: none;
      margin: 0;
      padding: 10px;
      
      li {
        padding: 4px 0;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
}