#start-page {
  font-size: 14px;
  
  h1 {
    @include box-shadow;
    
    text-align: center;
    background-color: white;
    padding: 15px;
  }
  
  h3, p {
    margin: 10px 5px;
  }
  
  #start-page-content {
    margin-top: 10px;
    padding-bottom: 50px;
    
    .section {
      @include box-shadow;
      
      background-color: white;
      padding: 25px;
      
      @media (min-width: 768px) {
        padding: 25px 10px;
      }
    }
    
    .user-button {
      @media (max-width: 414px) {
        display: block;
      }
      
      display: inline-block;
      background-color: white;
      border: 3px solid lightgrey;
      border-radius: 5px;
      padding: .6em .8em;
      margin: 5px;
      text-decoration: none;
      cursor: pointer;
      
      &:hover {
        background-color: #e4e4e4;
      }
      
      &.selected {
        border-color: #4caf50;
        background-color: #4caf50;
        color: white;
        font-weight: bold;
      }
    }
  
    .button-row {
      margin: 15px 0px;
      text-align: center;
      
      @media (min-width: 768px) {
        text-align: right;
      }
      
      #submit-button {
        @include standard-button($action-blue, #1181b7)
        
        @media (max-width: 767px) {
          width: 95%;
        }
      }
    }
  }
}