#start-page {
  h3, p {
    margin: 10px 5px;
  }
  
  #start-page-content {
    margin-top: 20px;
    padding-bottom: 50px;
    
    #lunch-group-section {
      h3 {
        background: linear-gradient(-45deg, #ae81ff, #580fda);
        padding: 10px;
        margin: 0;
        color: white;
        font-size: 14px;
        text-align: center;
        
        @media (min-width: 415px) {  
          text-align: left;  
        }
      }
      
      .section {
        @include section;
        
        padding: 10px 10px 25px !important;
        
        @media (min-width: 415px) {  
          font-size: 12px;
          padding: 10px 10px 25px !important;
        }
        
        .description {
          @media (max-width: 414px) {
            margin: 10px 5px 15px;
          }
        }
      }
    }
    
    .user-button {
      @media (max-width: 414px) {
        display: block;
      }
      
      display: inline-block;
      background-color: white;
      border: 3px solid lightgrey;
      border-radius: 5px;
      padding: .6em .8em;
      margin: 5px;
      text-decoration: none;
      cursor: pointer;
      
      &:hover {
        background-color: #e4e4e4;
      }
      
      &.selected {
        border-color: #4caf50;
        background-color: #4caf50;
        color: white;
        font-weight: bold;
      }
    }
  }
}